/* Tamaño del mapa */
#map {
    height: 90%;
    width: 100%;
}

/* Asegura que cuerpo y HTML ocupen el 100% del tamaño */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo del enlace como botón */
#link-container {
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#link-container a {
    display: inline-block;
    background-color: #000dff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#link-container a:hover {
    background-color: #0000cc;
    transform: scale(1.05);
}

#link-container a:active {
    transform: scale(0.95);
}
