body {
    font-family: Arial, sans-serif;
}

#address-selection {
    margin: 20px;
}

.loading {
    display: none;
}

.suggestions {
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    position: absolute;
    /* Para que aparezca sobre otros elementos */
    max-height: 200px;
    overflow-y: auto;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#map {
    height: 400px;
    /* Ajusta la altura del mapa según sea necesario */
    width: 100%;
}

#results-container {
    margin-top: 20px;
}

.no-results {
    color: red;
}